/* Estilos Generales*/
body{
    font-family: Arial,  sans-serif;
    margin: 0;
    padding:0;
    background-color: #de9a9a;
}
/* Estilos de la cabecera*/
header  {
    background-color: #F8F9FA;
    color:#0a6ddf;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    width: 100%;
}
img{
    height: 90px;
    width: 90px;
    background-color: #F8F9FA;
}
h1{
    letter-spacing: 10px;
    margin-left: 100px;
}
.logo{
    width: 10%;
    
}
/* Estilos del banner*/
.banner {
background-position: center;
color:#fff;
padding:50px 0;
text-align: center;
}
.banner h2 {
color:#fff;
font-size: 48px;
margin:0;
}
.banner p {
margin: 20px 0 0 0;
font-size: 24px;
}
h2{
    text-align: center;
    font-size: 38px;
    color:#0a6ddf;
    margin: 40px 40px 0 0;
}
/* Estilos de los productos*/

@media (min-width: 576px) {
    .productos {
        margin: auto;
        padding: 5px 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    };
    .producto{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 10%;
        height: 100px;
        box-shadow: 4px 4px 4px 4px;
        padding: 10px;
        border-radius: 3%;
        margin: 15px 0;
    };
    .producto:hover{
        border: 2px solid #193452;
    };
    .producto img{
    height: 40px;
    display: flex;
        width: 50%;
    };
}
.productos {
    margin: auto;
    padding: 0 20 px;
    display: flex;
    justify-content:space-evenly; 
    flex-wrap: wrap;
}
 .producto{
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap; */
    justify-content: space-evenly;
    width: 20%;
    height: 400px;
    box-shadow: 5px 5px 5px 5px;
    padding: 10px;
    border-radius: 3%;
    margin: 15px 0;
}
.producto:hover{
    border: 2px solid #0a6ddf;
}
.producto img{
    display: block;
    width: 95%;
    height: 150px;
}
.producto h3{
    font-size: 20px;
    margin: 20px 0 10px 0;

}
.producto p{
    font-size: 16px;
    margin: 0;
}
.btn{
    margin: 10px 0;
    padding: 15px;
    border-radius: 3%;
    cursor:pointer;
    color: #9f2930;
    font-size: 15px;
    border: none;
}
.btn:hover{
    border: 2px solid #0a6ddf;
}
footer p{
    width: 100%;
    background-color: #fff;
    color:#0a6ddf;
    padding: 10px;
    text-align: center;
}
/* Estilos Navegador bootstrap*/
.container-fluid{
    background-color: #F8F9FA;
}
